<footer id="footer-bottom">
    <div class="container">
        <h1 class="footerh1">Available on These Devices</h1>
    </div>
    <div class="fabicons">
        <i class="fa fa-windows fa-3x icon1 windowicon"></i>
        <i class="fa fa-apple fa-3x icon1 appleicon"></i>
    </div>
    <div class="lists">
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">About</a></li>
            <li><a href="">Help</a></li>
            <li><a href="">Contact</a></li>
            <li><a href="">User-Experience</a></li>
        </ul>
    </div>
    <div class="social">
        <a href=""><i class="fa fa-facebook fa-2x icon1"></i></a>
        <a href=""><i class="fa fa-youtube fa-2x icon1"></i></a>
        <a href=""><i class="fa fa-instagram fa-2x icon1"></i></a>
        <a href=""><i class="fa fa-twitter fa-2x icon1"></i></a>
    </div>

    <h6 class="footerh5">@2015-2022 ChatSpin</h6>
</footer>