<footer id="footer-bottom">
    <div class="container">
    <div class="row">                          
    <div class="col-lg-3 col-md-6 column-boxes addr">
    <h4 class="widget-title"> Contact Us</h4>
    <div class="widget-contacts">
    <ul class="info-list">
    <li>Address :  Address: SunRise University Campus, Bagar Rajput, Rajasthan 301028 </li>
    <li>Toll Free :  1800 889 5112 </li>
    <li>Email :  registrar@sunriseuniversity.in </li>
    </ul>
    </div>
    </div>
    <div class="col-lg-3 col-md-6 column-boxes">
    <h4 class="widget-title">Important Links</h4>
    <ul class="list-links">
    <li><a href="#0">Download Admit Card </a></li>
    <li><a href="http://127.0.0.1:8000/terms-conditions">Terms &amp; Conditions </a></li>
    <li><a href="http://127.0.0.1:8000/privacy-policy">Privacy Policy </a></li>
    <li><a href="http://127.0.0.1:8000/faq">FAQ</a></li>
    <li><a href="http://127.0.0.1:8000/career">Career</a></li>
    <li><a href="http://127.0.0.1:8000/contact">Contact Us</a></li>
    </ul>
    </div>                          
    <div class="col-lg-3 col-md-6 column-boxes">
    <h4 class="widget-title"> Quick  Links</h4>
    
    <ul class="list-links">
    <li><a href="http://127.0.0.1:8000/facility/hostal-facility"> Hostal Facility</a></li>
    <li><a href="http://127.0.0.1:8000/facility/medical-facility"> Medical Facility</a></li>
    <li><a href="http://127.0.0.1:8000/facility/transport-facility"> Transport Facility</a></li>
    <li><a href="http://127.0.0.1:8000/facility/lab-facility"> Lab Facility</a></li>
    </ul>
    
    </div>                        
    <div class="col-lg-3 col-md-6 column-boxes addr">
    <h4 class="widget-title"> ASK A QUESTION</h4>
    <div class="widget-contacts">
    <form id="form" action="http://127.0.0.1:8000/question" method="post">
    <input type="hidden" name="_token" value="sP7JIt9zp4Un5tfC44MHLX5U0TyQwj61F7XLXFmf"> <div class="form-group">
    <input type="email" class="form-control" name="email" placeholder="Email Address" required="">
    </div>
    <div class="form-group">
    <textarea class="form-control" name="question" placeholder="Question" required=""></textarea>
    </div>
    <input type="submit" class="submit-btn" value="Send Now">
    </form>
    <ul class="social-links">
    <li><a href="#0"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
    <li><a href="https://twitter.com/srualwar"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
    <li><a href="https://www.linkedin.com/in/sunrise-university-645052226/"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
    <li><a href="https://www.instagram.com/sunrise.university.alwar/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
    <li><a href="https://www.youtube.com/channel/UC8K3JMAvCB4SvIZHZStZ66Q"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
    </ul>
    </div>
    </div>
    </div>
    </div>
    </footer>