<div class="container loginform d-flex align-items-center logincontainer">
        <div class="col-md-6">
            <img src="../../assets/image/blog-img2.jpg" class="image2">
        </div>
        <div class="col-md-6 formclass">
            <div class="col-md-6 w-100 mx-auto">
                <h3>Log-In</h3>
                <form action="" class="form-group">
                    <div class="form-group">
                        <label for="mobileno">Mobile Number</label>
                        <input type="text" id="mobileno" class="form-control" placeholder="Enter Mobile Number">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" id="password" class="form-control" placeholder="Enter Password">
                    </div>
                    <div class="col-md-12 text-center form-group">
                        <button class="btn btn-success btns">Login</button>
                    </div>
                </form>
                <h6 style="color: white;">or connect with social media</h6>
                <div class="facebooklink">
                <a><i class="fa fa-facebook fa-1x"></i></a>
                <h6>sign up with facebook</h6>
                </div>

                <div class="twitterlink">
                <a><i class="fa fa-google fa-1x"></i></a>
                <h6>sign up with google</h6>
                </div>
            </div>
        </div>
</div>