.btns{
    padding: 10px 100px 10px 100px;
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: 700;
}

.container1{
    background-color: rosybrown;
}

.form{
    padding:100px 100px 10px 100px;
}