<!-- Home component -->
<div
            class="modal right fade sidebarModal"
            id="myModal2"
            tabindex="-1"
            role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <div class="logo">
                            <a href="index.html">.Tura<span>cos.</span></a>
                        </div>
                        <p>Turacos have much planned for the future, working with great clients and
                            continued software development. If you'd like to join our team, then we'd also
                            love to hear from you.</p>
                        <ul class="modal-contact-info">
                            <li>
                                <i class="icofont-google-map"></i>
                                <b>27 Division St</b>New York, NY 10002, USA</li>
                            <li>
                                <i class="icofont-ui-call"></i>
                                <b>+0 (321) 984 754</b>Give us a call</li>
                            <li>
                                <i class="icofont-envelope"></i>
                                <b>
                                    <a
                                        href="/cdn-cgi/l/email-protection"
                                        class="__cf_email__"
                                        data-cfemail="3044454251535f4370575d51595c1e535f5d">[email&#160;protected]</a>
                                </b>24/7 online support</li>
                        </ul>
                        <ul class="social-links">
                            <li>
                                <a href="#">
                                    <i class="icofont-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="icofont-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="icofont-instagram"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="icofont-linkedin"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="icofont-pinterest"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="marketing-agency-banner">
            <div class="container">
                <div class="marketing-agency-banner-content">
                    <h1>A Top Rated Digital Marketing Agency</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor dolore magna aliqua.</p>
                    <a href="#" class="btn btn-primary">Get Started Now</a>
                </div>
            </div>
            <div class="shape1"><img src="assets/image/shape1.png" alt="image"></div>
            <div class="shape2"><img src="assets/image/shape2.png" alt="image"></div>
            <div class="shape3"><img src="assets/image/shape3.png" alt="image"></div>
            <div class="shape4"><img src="assets/image/shape4.png" alt="image"></div>
            <div class="shape5"><img src="assets/image/shape5.png" alt="image"></div>
            <div class="shape6"><img src="assets/image/shape6.png" alt="image"></div>
        </div>

        <section>
            <div class="section1">
                
            </div>
        </section>